<h1>Data shown below could be download by clicking on their link</h1>

<div class="container">
	<ul>
		<li>IWGSC1</li>
		<ul>
			<li><a href="https://dl.dropboxusercontent.com/content_link/3KmIyYeAQ17S8reNKlU9FnRZmguKSJ0wjW3nypyAWFwmfHQwkxQeY71nimQeir6T/file?_download_id=27773329022087023427667769631472352736117663868198318725893778108538&_notify_domain=www.dropbox.com&dl=1">compara_homolgy.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/vIyOq0amlnkkwsYpdZuiodev9sZIwnmmJNOTH9UKeKdDUy2XxfVrgWLVenrKcrFv/file?_download_id=012680590168558714653429938319892573524643144530425675970954990839&_notify_domain=www.dropbox.com&dl=1">default_metadata.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/QoXEmjWJ8lQj8u4fnB60yMCcOlTYy4NR3R35ZIDgAHDuVtQCvgYTMv2lvcZwINvd/file?_download_id=620008324146595294410889196950276023595798476669054235133136008&_notify_domain=www.dropbox.com&dl=1">FactorOrder.tsv</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/K1iRV5dEDCPAxIcQCkpMNxGWXxIwSmvhzUi2BLXaI7pQvY4dXafxh9k3LQutGkgy/file?_download_id=6755693850652946855106733368132665198392207706789555551027695839&_notify_domain=www.dropbox.com&dl=1">final_output_counts.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/sDbtZIuKAXm1L2IttQNt0M7TDYxPuvMwOxv2MR0TOqaDJKXuPp40TQXaeI96LsBg/file?_download_id=133318589070218438122241473705574969305824753594213742686430463968&_notify_domain=www.dropbox.com&dl=1">final_output_tpm.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/y23uBLVeLHJ5MpU3aaTYUdRCWw9608PqISH5CQEtVCM7Xnh87eed70sNpbGMk8dN/file?_download_id=0368558811917067965563333200928819543430576899677723898920371237864&_notify_domain=www.dropbox.com&dl=1">homology.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/IXsrsW2DXwjtXrJESlW0m1ZqYWGUaDJdiZ1U7wV3fsQxcUpXQV9D6kpk1izWnPXZ/file?_download_id=549131219590495815313854025026563542997114207679929058873258107365&_notify_domain=www.dropbox.com&dl=1">Triticum_aestivum.IWGSC2.26.cdna.all.fa</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/oMji9WKYhJ7ny6x68CYktolvI9LAAztXJTZvH9j73eR9BaogUYzmX4xXNIlePu7c/file?_download_id=074430881590350945284704918101037641538758751146139835303666231137&_notify_domain=www.dropbox.com&dl=1">Triticum_aestivum.IWGSC2.26.cdna.all.fa.kallisto.k31</a></li>
		</ul>
		<br>
		<li>RefSeq1.0</li>
		<ul>
			<li><a href="https://dl.dropboxusercontent.com/content_link/iMH6iO6QYd1L0ufJmQliEYBu9AdKHOhP6yhS6AkWpaUZ7HoMlUXRuoi9L6mRyOnA/file?_download_id=7125121180376026887766705799607787219291449054810597910123646392&_notify_domain=www.dropbox.com&dl=1">default_metadata.csv</a></li>
		</ul>
		<br>
		<li>TGACv1</li>
		<ul>
			<li><a href="https://dl.dropboxusercontent.com/content_link/ZYyspm1FyvIoYpRq6kvXXvjb5xc8mverKYPjvp8Pn5jqQ6Hji1s6zd3gTUvBszaZ/file?_download_id=8644015541526906823395881025206297579205591668669208107254240501&_notify_domain=www.dropbox.com&dl=1">compara_homolgy_32_85.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/i46roWy4h3fev4ZNdv3KdxrSdJdCWlX6XTs6wOydRXXSVpUprCN8H2GPgXyzXegI/file?_download_id=63213986152280954816761655575308946324703480784936584833124185323&_notify_domain=www.dropbox.com&dl=1">compara_query.sql</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/6HvzZlNjQbwMs41ai0pDd7a3lMxXSXVTmM3h0jroPTorfJ9WFy4Krlef6TmvEBKV/file?_download_id=7757109557162087347374416696481842697740397855796458279358937287&_notify_domain=www.dropbox.com&dl=1">edited_final_output_counts.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/YLmnukvj66kUkRV1DZ2NeFd9nCPludhSexZtW8jeMwzImbGgjtczQ3OrN4fmviYQ/file?_download_id=2869853293595144728702047458726110201697475166957311569937210007&_notify_domain=www.dropbox.com&dl=1">edited_final_output_tpm.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/JIeFcJI9fmYn8rRnPp4psRxNhsxAUuhDpUSKaN9ILtKb8CjM6PJAnUZ9xrhpjv9u/file?_download_id=958785519653364368211913048588184424185509684879939179981994428&_notify_domain=www.dropbox.com&dl=1">FactorOrder_PB_edit.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/Cx7Lv746si66xehMzsHiXWX5ogFvA2S9KWjb87WnNZXTDIEIiCffLX0j2XwxqDK7/file?_download_id=32159287363730793806353918239132823434594296065477911188182986391&_notify_domain=www.dropbox.com&dl=1">homology_32_85.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/rijJBZLKW6OFBiXzQEuNl35Yyd58Yq5me529gHS4YiPj0Kyw3a6Q9O4vEhQb7pri/file?_download_id=5246277018599346298676680927702654972408273472037730738607957459&_notify_domain=www.dropbox.com&dl=1">metadata_tgac.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/DOBqAKwi55dE9f5X3yRZDevMLlHJLFY4QSchaT79VEiNgtiS0dVQlSkfL6fB5dRi/file?_download_id=64692305577758618425028650468023134284571065783848675693191737008&_notify_domain=www.dropbox.com&dl=1">metadata_with_tgac_samples.txt</a></li>
			<li><a href="https://dl.dropboxusercontent.com/content_link/T6AccV4rE8IJcUHJwBlpI8zs0PJLcIbNTo5HVkz4hMN9C5DwPVbFRZj20cq2yB27/file?_download_id=8678562447130131863456342117583289428089052495426254106287687256&_notify_domain=www.dropbox.com&dl=1">Triticum_aestivum_CS42_TGACv1_scaffold.annotation.gff3.cdna.fa.gz</a></li>
		</ul>
	</ul>
</div>