<h2>Use the individual links below download the data used throughout the web-app</h2>
<br>
<div>
  <ul>
    <div class="data-section">
      <li>Meta Data</li>
      <ul>  
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/default_metadata.txt">default_metadata.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/factor_order.txt">FactorOrder.txt</a></li>        
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/move_private_files.sh">move_private_files.sh</a></li>        
      </ul>
    </div>    
    <div class="data-section">
      <li>IWGSC1</li>
      <ul>            
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26_summary.txt">IWGSC2.26_summary.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/compara_homolgy.txt">compara_homolgy.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/Triticum_aestivum.IWGSC2.26.cdna.all.fa.gz">Triticum_aestivum.IWGSC2.26.cdna.all.fa.gz</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ByTranscript/">References</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/Aneuploidy_summary.tsv">Aneuploidy_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/choulet_URGI_summary.tsv">choulet_URGI_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/CS_methylome_summary.tsv">CS_methylome_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/CS_spike_summary.tsv">CS_spike_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/developing%20spike_summary.tsv">developing spike_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/Development_summary.tsv">Development_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/PAMP%20Triggered%20Imune%20Response_summary.tsv">PAMP Triggered Imune Response_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/DRP000768_summary.tsv">DRP000768_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP003465_summary.tsv">ERP003465_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP004505_summary.tsv">ERP004505_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP008767_summary.tsv">ERP008767_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP009837_summary.tsv">ERP009837_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP013829_summary.tsv">ERP013829_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP013983_summary.tsv">ERP013983_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP015130_summary.tsv">ERP015130_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ERP016738_summary.tsv">ERP016738_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP004884_summary.tsv">SRP004884_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP013449_summary.tsv">SRP013449_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP017303_summary.tsv">SRP017303_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP022869_summary.tsv">SRP022869_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP028357_summary.tsv">SRP028357_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP029372_summary.tsv">SRP029372_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP038912_summary.tsv">SRP038912_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP041017_summary.tsv">SRP041017_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP041022_summary.tsv">SRP041022_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP043554_summary.tsv">SRP043554_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP045409_summary.tsv">SRP045409_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP048912_summary.tsv">SRP048912_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP056412_summary.tsv">SRP056412_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP060670_summary.tsv">SRP060670_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP064598_summary.tsv">SRP064598_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP067916_summary.tsv">SRP067916_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP068156_summary.tsv">SRP068156_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP068165_summary.tsv">SRP068165_summary.tsv</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/SRP078208_summary.tsv">SRP078208_summary.tsv</a></li>      
      </ul>
    </div>
    <div class="data-section">
      <li>TGACv1</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1_summary.txt">TGACv1_summary.txt</a></li>                
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/compara_homolgy_32_85.txt">compara_homolgy_32_85.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/Triticum_aestivum_CS42_TGACv1_scaffold.annotation.gff3.cdna.fa.gz">Triticum_aestivum_CS42_TGACv1_scaffold.annotation.gff3.cdna.fa.gz</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/ByTranscript/">References</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>RefSeq1.0</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0_summary.txt">RefSeq_1.0_summary.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/HC_triads_for_expvip.tab">HC_triads_for_expvip.tab</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/IWGSCv1.0_UTR_ALL.cdnas.fasta.gz">IWGSCv1.0_UTR_ALL.cdnas.fasta.gz</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/ByTranscript/">References</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>RefSeq1.1</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1_summary.txt">RefSeq_1.1_summary.txt</a></li>        
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1/IWGSC_v1.1_ALL_20170706_transcripts.fasta.gz">IWGSC_v1.1_ALL_20170706_transcripts.fasta.gz</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1/ByTranscript/">References</a></li>
      </ul>
    </div>
  </ul>
</div>