<h2>Use the individual links below download the data used throughout this web-app</h2>
<br>
<div>
  <ul>
    <div class="data-section">
      <li>General</li>
      <ul>  
        <li><a href="">FactorOrder.tsv</a></li>
        <li><a href="">default_metadata.txt</a></li>
      </ul>
    </div>    
    <div class="data-section">
      <li>R.genevieri</li>
      <ul>            
        <li><a href="">R.genevieri_fasta</a></li>
        <li><a href="">R.genevieri_kalisto.zip</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>R.idaeus</li>
      <ul>
        <li><a href="">R.idaeus_fasta</a></li>
        <li><a href="">R.idaeus_kalisto.zip</a></li>
      </ul>
    </div>
  </ul>
</div>