<h2>Use the individual links below download the data used throughout the web-app</h2>
<br>
<div>
  <ul>
    <div class="data-section">
      <li>Metadata</li>
      <ul>  
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/default_metadata.txt">default_metadata.txt</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/factor_order.txt">FactorOrder.txt</a></li>        
      </ul>
    </div>    
    <div class="data-section">
      <li>IWGSC1</li>
      <ul>            
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26_summary.txt">Summary Alignment</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/compara_homolgy.txt">Homoeologues</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/Triticum_aestivum.IWGSC2.26.cdna.all.fa.gz">References</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/IWGSC2.26/ByTranscript/">Expression Values</a></li>              
      </ul>
    </div>
    <div class="data-section">
      <li>TGACv1</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1_summary.txt">Summary Alignment</a></li>                
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/compara_homolgy_32_85.txt">Homoeologues</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/Triticum_aestivum_CS42_TGACv1_scaffold.annotation.gff3.cdna.fa.gz">References</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/TGACv1/ByTranscript/">Expression Values</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>RefSeq1.0</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0_summary.txt">Summary Alignment</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/HC_triads_for_expvip.tab">Homoeologues</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/IWGSCv1.0_UTR_ALL.cdnas.fasta.gz">References</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.0/ByTranscript/">Expression Values</a></li>
      </ul>
    </div>
    <div class="data-section">
      <li>RefSeq1.1</li>
      <ul>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1_summary.txt">Summary Alignment</a></li>        
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1/IWGSC_v1.1_ALL_20170706_transcripts.fasta.gz">References</a></li>
        <li><a href="https://opendata.earlham.ac.uk/wheat/under_license/toronto/Ramirez-Gonzalez_etal_2018-06025-Transcriptome-Landscape/expvip/RefSeq_1.1/ByTranscript/">Expression Values</a></li>
      </ul>
    </div>
  </ul>
</div>