/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/tooltip
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require jquery-ui/core
 */


body{
	background-color: #E6E6E6	;

}

div.header {
	background-color:  #FFFFFF;
	border-radius: 25px;
    padding: 20px;
    width: 1000px;
    float: center;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.left, .right { 
 
  padding: 1em; 
 
} 

 .header-form {
    width: 300px;
 }
 .header-form input {
    width: 45%;
    display:inline-block;

}
 .header-form label {
    width: 25%;
    display:inline-block;

}
.wrapper {
    /** Top padding so that initially, the content is below the header **/
    border-radius: 25px;
    padding: 20px;
    float: center;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1000px;
    background-color:  #FFFFFF;
    overflow-y: auto;
    max-height: 85%;
}

.left  { float:left;  }
.right { float:right; } 