/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/tooltip
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require jquery-ui/core
 */


body{
	background-color: #E6E6E6	;
    height: 100%;
}

div.navigation{    
    width: 100%;        
    margin-top: 10px;
}

div.navigation a{    
    display: inline-block;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px -4px;
    width: calc(100%/7);
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    text-decoration: inherit;
    color: #337ab7 !important;
}

div.navigation a:hover{
    background-color: #E6E6E6;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    color: black;
    text-decoration: underline;
}

div.header {
    background-color:  #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px 30px 20px;
    float: center;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

div.footer{
  
  background-color:  #FFFFFF;
  border-radius: 25px;
  padding: 20px;
  float: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 75px;
}

.left, .right { 
   
  float:left;  
  height: calc(70%); 
  width: calc(40%); 
} 

.header-form {
    width: 300px;

 }
 .header-form input[type="text"]{
    display:inline-block;
    margin: 0;
    width: 150px;
    border-width: 2px;
    border-radius: 5px;          
}
 .header-form label {
    width: 25%;
    display:inline-block;
}
.wrapper {
    /** Top padding so that initially, the content is below the header **/
    border-radius: 25px;
    padding: 20px;
    float: center;
    position: fixed;
    top: 155px;
    left: 0;
    right: 0;
    bottom: 120px;
    margin: 0 auto;
    background-color:  #FFFFFF;
    overflow-y: auto;
    max-height: 75%;
    height:auto;
}

#about_studies a{
    color: #337ab7;
    padding: 3px;
    text-decoration: none;    
    line-height: 20px;
}
#about_studies a:hover{
    background-color: inherit;
    color: #337ab7;    
    text-decoration: underline red;
    border-radius: 7px;
}

.wrapper a{
    color: #337ab7;
    padding: 7px;
    text-decoration: none;
    margin: 5px;
    font-size: 17px;
}
.wrapper a:hover{
    background-color: #E6E6E6;
    color: #337ab7;
    border-radius: 7px;
    text-decoration: underline red;
}

.left  { float:left;  }
.right { float:right; } 

.push {
    height: 4em;
}

img.logo{
    height: 75px;
    padding:10px;
}

.around {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.alert-error {
    position: fixed;
    float: center;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor:pointer;
    width:500px;
    cursor:hand;
    background: #FFE7E7 url('../assets/exclamation.png') center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 0px 0px 1px 45px;
    border-top: 1px solid #E77D7B;
    border-bottom: 1px solid #E77D7B;
    border:1px solid #E77D7B;
    overflow:auto;
}

.alert-info {
    position: fixed;
    float: center;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor:pointer;
    width:500px;
    cursor:hand;
    background: #E7F3FF url('../assets/information.png') center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 0px 0px 1px 45px;
    border-top: 1px solid #7BA6D6;
    border-bottom: 1px solid #7BA6D6;
    border:1px solid #7BA6D6;
    overflow:auto;
}

input[type="submit"], button{    
    background-color: #337ab7;
    border-radius: 7px;
    padding: 5px 7px;
    margin: 2px;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 5px grey;
    border: none;
}
input[type="submit"]:active, button:active{
    transform: translateY(2px);
}

input[type="text"], textarea{    
    padding: 5px;
    margin: 1px;    
}

input[type="checkbox"]{        
    width: 15px;
    height: 15px;
    margin: 2px;    
}

select{
    background-color: #489e47;
    border-radius: 3px;
    padding: 3px 7px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    color: white;    
    border: none;
}