// Place all the styles related to the download controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data-section{
    float: left;
    margin-left: 10px;
    margin-right: 10px;    
}