// Place all the styles related to the Genes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#share{    
    font-size: 20px;    
    background-color: #6396e8;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: pointer;
}