// Place all the styles related to the Wellcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sequenceserver{        
    width: 100%;
    min-height:650px;
    border: none;
}

#search_left{
    min-height:450px;    
    width: 50%;
    float: left;
}

#search_right{        
    width: 50%; 
    float: right;
}

@media(max-width: 1200px){
    
    #search_left, #search_right{
        width: 100%;
        float: none;
    }
    
}