


<div id="searches"  >
  <div id="search_left" class="left"  width="50%" style="min-height:450px" >
        <%=  render 'search_form' %>
</div>
<div id="search_right" class="right"   width="50%" style="min-height:550px">  
&nbsp;  
<iframe id="sequenceserver" src="sequenceserver" style="position: absolute; width:40%; height:800px; border: none"></iframe>
</div>
</div>
