
<p>
In the heatmap
<div id="bar_expression_viewer"> </div>

<script type="text/javascript">
  var container_div="bar_expression_viewer";
  var data_url = "<%=raw "../../expression_values/genes.json?#{@args}"%>" ;
  var eb =  new biovisexpressionbar.ExpressionBar({
    target: container_div,
    data: data_url,
    renderProperty: 'log2tpm', 
    fontFamily:'Palatino Linotype, Book Antiqua, Palatino, serif', 
    groupBy: ["High level stress-disease", "High level age","High level tissue","High level variety"], 
    barHeight:10,
    width:1000,
    headerOffset:100,
    plot:'HeatMap'
  });
  </script>