<%= render :partial => "genes/share" %>

<strong>Genes:</strong> 
<span id="heatmap_gene_name">
<% @gene.name.each do |gene| %>
<%= gene %> |
<% end %>
</span>
<% if @gene.knetminer %>
  <%= link_to "KnetMiner", @gene.knetminer %>
<% end %>

<div id="bar_expression_viewer"> </div>

<script type="text/javascript">  

  // rescaling the bar chart after a 1.5 second delay
  var resizeTimer;
  $(window).on('resize', function(e){      
    clearTimeout(resizeTimer);  // Making sure that the reload doesn't happen if the window is resized within 1.5 seconds
    resizeTimer = setTimeout(function(){

      var windowHeight = $(window).outerHeight();
      var navHeight = $('nav').outerHeight();
      var footerHeight = 55;
      var contentHeight = 0;
            
      contentHeight = windowHeight - (navHeight + footerHeight) - 90;

      eb.resizeChart(contentHeight);
    }, 1500);
  });


  var windowHeight = $(window).outerHeight();  
  var navHeight = $('nav').outerHeight();
  var footerHeight = 55;
  var contentHeight = 0;
    
  contentHeight = windowHeight - (navHeight + footerHeight) - 90;

  var container_div="bar_expression_viewer";
  var data_url = "<%=raw "#{request.base_url}/expression_values/genes.json?#{@args}"%>" ;
  console.log(data_url);
  var parentWidth = $("#bar_expression_viewer").parent().width();
  var eb;
  function loadHeatmap(){
    eb =  new biovisexpressionbar.ExpressionBar({
      target: container_div,
      data: data_url,
      renderProperty: 'count', 
      defaultLog2State: true,
      fontFamily: 'Helvetica', 
      height: contentHeight,
      groupBy: ["High level stress-disease", "High level age","High level tissue","High level variety"],             
      width: parentWidth,
      plot:'HeatMap'
    });
    uncheckLog2();
  }     

  function uncheckLog2(){
    setTimeout(function(){                  
      if(sessionStorage.bar_expression_viewer_calculateLog == "false" && $("#bar_expression_viewer_log2").prop('checked', true)){
        $("#bar_expression_viewer_log2").click();
      }              
    }, 3000);
  }

  loadHeatmap();  
 
</script>